/* MAIN Style  */

.box {
  width: 100%;
  height: 100%;
}
.Header {
  width: 100%;
  height: 60px;
  background-color: white;
}
.sideBarIcon {
  width: 80px;
  height: 100%;
  background-color: var(--info-color);
  display: none;
}

.DashBord {
  display: flex;
  flex-direction: row;
}
.SideBar {
  min-width: 80px;
  min-height: calc(100vh - 60px);
  background-color: var(--primary-color);
}
.mainBord {
  width: calc(100vw - 80px);
  height: calc(100vh - 60px);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
}

/* ****************************************************************** */
